<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>
        <%= page.metaTitle %>
    </title>
    <meta name="description" content="<%= page.metaDescription %>">
    <meta name="keywords" content="<%= page.metaKeywords %>">

    <meta property="og:title" content="<%= page.ogTitle %>">
    <meta property="og:description" content="<%= page.ogDescription %>">
    <meta property="og:image" content="<%= page.ogImage %>">
</head>

<body>
    <h1>
        <%= page.name %>
    </h1>
    <p>This page is rendered on server with real SEO meta tags.</p>
</body>

</html>