<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Dynamic SEO Meta (from DB) -->
    <title>
        <%= page.metaTitle %>
    </title>
    <meta name="description" content="<%= page.metaDescription %>">
    <meta name="keywords" content="<%= page.metaKeywords %>">

    <meta property="og:title" content="<%= page.ogTitle %>">
    <meta property="og:description" content="<%= page.ogDescription %>">
    <meta property="og:image" content="<%= page.ogImage %>">

    <!-- Load React build -->
    <link rel="stylesheet" href="/dist/assets/index.css">
</head>

<body>
    <div id="root"></div>

    <!-- React JS -->
    <script type="module" src="/dist/assets/index.js"></script>
</body>

</html>